Repository khaledxyz/simple-cicd: changes, and which Woodpecker steps are due for each by the changed paths.
All: server, build, deploy, web

server:
  steps:
    install-dependencies:
      image: docker.io/node:23-alpine
      directory: server/
      commands:
      - corepack enable
      - pnpm install --frozen-lockfile
    lint:
      image: docker.io/node:23-alpine
      directory: server/
      commands:
      - corepack enable
      - pnpm lint
      depends_on:
  ...

build:
  image: docker:24-dind
  directory: server/
  volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  commands:
  - docker build -t registry.local:2525/simple-cicd-server:$CI_COMMIT_SHA -t registry.local:2525/simple-cicd-server:latest .
  - docker push registry.local:2525/simple-cicd-server:$CI_COMMIT_SHA
  ...

deploy:
  image: docker:24-dind
  directory: infra/server/
  volumes:
  - /var/run/docker.sock:/var/run/docker.sock
  environment:
    SERVER_ENV_FILE:
      from_secret: SERVER_ENV_FILE
    INFRA_ENV_FILE:
      from_secret: INFRA_ENV_FILE
  commands:
  - echo "$${SERVER_ENV_FILE}" > .env
  - echo "$${INFRA_ENV_FILE}" >> .env
  ...

web:
  steps:
    install-dependencies:
      image: docker.io/node:23-alpine
      directory: web/
      commands:
      - corepack enable
      - pnpm install --frozen-lockfile
    lint:
      image: docker.io/node:23-alpine
      directory: web/
      commands:
      - corepack enable
      - pnpm lint
      depends_on:
  ...

Update App.tsx
  web/src/App.tsx
Due: build, deploy, web

Update server.yml
  .woodpecker/server.yml
Due: none

Update index.ts
  server/src/index.ts
Due: server, build, deploy

Update docker-compose.yml
  infra/server/docker-compose.yml
Due: none

Update docker-compose.yml
  infra/web/docker-compose.yml
Due: none

Create README.md
  README.md
Due: none

feat: Add CORS support and version endpoint to server
  server/package.json
  server/pnpm-lock.yaml
  server/src/index.ts
Due: server, build, deploy

Update Docker setup for web service and build args
  docker-compose.yml
  web/Dockerfile
Due: build, deploy, web

Add license scan report and status
  README.md
Due: none

Path conditions:
  server: any of: server/**, .woodpecker/server.yaml
  build: (any of: server/**, .woodpecker/server.yaml) or (any of: web/**, .woodpecker/web.yaml)
  deploy: (any of: server/**, .woodpecker/server.yaml) or (any of: web/**, .woodpecker/web.yaml)
  web: any of: web/**, .woodpecker/web.yaml
